html {
    font-size: medium;
}

body{
    margin: 1rem auto;
    max-width: 40em;
    padding: 1rem;
    font: 1.2rem/1.62 sans-serif;
    background-color: #F5FFFA;
    color: #111111;
}

nav {
    margin-bottom: 4rem;
}

footer {
    margin-top: 4rem;
}

h1, h2, h3 {
    line-height: 1.2;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

h1 {
    font-size: 2.2em;
    padding-bottom: 5px;
    border-bottom: 3px solid #111111;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.6em;
    padding-bottom: 3px;
    border-bottom: 1px solid #111111;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
    font-style: italic;
}

h6 {
    font-size: 1.1em;
    font-weight: bold;
}

img {
    width: 100%;
}

a {
    color: #1e6b8c;
    font-size: 1em;
    text-decoration: none;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    transition-timing-function: linear;
    
}

a:visited {
    color: #6f32ad;
    font-size: 1em;
    
}

a:hover {
    background: #f0f0ff;
    font-size: 1em;
    text-decoration: underline;
    
}

a:active {
    background-color: #427fed;
    color: #fffff6;
    color: white;
    font-size: 1em;
    
}

.right-align, .revue-form-actions {
    float: right;
}

.revue-form-group, .revue-form-actions {
    margin: .5rem;
}

.revue-form-label {
    display: block;
}

@media print {
    body {
	max-width:none
    }
}
.title { 
}
.subtitle { 
}
.todo   { 
    font-family: monospace; 
    color: red; 
}
.done   { 
    font-family: monospace; 
    color: green; 
}
.priority { 
    font-family: monospace; 
    color: orange; 
}
.tag    { 
    background-color: #eee; 
    font-family: monospace;
    padding: 2px; 
    font-size: 80%; 
    font-weight: normal; 
}
.timestamp { 
    color: #bebebe; 
}
.timestamp-kwd { 
    color: #5f9ea0; 
}
.org-right  { 
    margin-left: auto; 
    margin-right: 0px;  
    text-align: right; 
}
.org-left   { 
    margin-left: 0px;  
    margin-right: auto; 
    text-align: left; 
}
.org-center { 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
}
.underline { 
    text-decoration: underline; 
}
#postamble p, #preamble p { 
    font-size: 90%; 
    margin: .2em; 
}
p.verse { 
    margin-left: 3%; 
}
pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { 
    display: inline;
}
/* Languages per Org manual */
pre.src-asymptote:before { 
    content: 'Asymptote'; 
}
pre.src-awk:before { 
    content: 'Awk'; 
}
pre.src-C:before { 
    content: 'C'; 
}
/* pre.src-C++ doesn't work in CSS */
pre.src-clojure:before { 
    content: 'Clojure'; 
}
pre.src-css:before { 
    content: 'CSS'; 
}
pre.src-D:before { 
    content: 'D'; 
}
pre.src-ditaa:before { 
    content: 'ditaa'; 
}
pre.src-dot:before { 
    content: 'Graphviz'; 
}
pre.src-calc:before { 
    content: 'Emacs Calc'; 
}
pre.src-emacs-lisp:before { 
    content: 'Emacs Lisp'; 
}
pre.src-fortran:before { 
    content: 'Fortran'; 
}
pre.src-gnuplot:before { 
    content: 'gnuplot'; 
}
pre.src-haskell:before { 
    content: 'Haskell'; 
}
pre.src-hledger:before { 
    content: 'hledger'; 
}
pre.src-java:before { 
    content: 'Java'; 
}
pre.src-js:before { 
    content: 'Javascript'; 
}
pre.src-latex:before { 
    content: 'LaTeX'; 
}
pre.src-ledger:before { 
    content: 'Ledger'; 
}
pre.src-lisp:before { 
    content: 'Lisp'; 
}
pre.src-lilypond:before { 
    content: 'Lilypond'; 
}
pre.src-lua:before { 
    content: 'Lua'; 
}
pre.src-matlab:before { 
    content: 'MATLAB'; 
}
pre.src-mscgen:before { 
    content: 'Mscgen'; 
}
pre.src-ocaml:before { 
    content: 'Objective Caml'; 
}
pre.src-octave:before { 
    content: 'Octave'; 
}
pre.src-org:before { 
    content: 'Org mode'; 
}
pre.src-oz:before { 
    content: 'OZ'; 
}
pre.src-plantuml:before { 
    content: 'Plantuml'; 
}
pre.src-processing:before { 
    content: 'Processing.js'; 
}
pre.src-python:before { 
    content: 'Python'; 
}
pre.src-R:before { 
    content: 'R'; 
}
pre.src-ruby:before { 
    content: 'Ruby'; 
}
pre.src-sass:before { 
    content: 'Sass'; 
}
pre.src-scheme:before { 
    content: 'Scheme'; 
}
pre.src-screen:before { 
    content: 'Gnu Screen'; 
}
pre.src-sed:before { 
    content: 'Sed'; 
}
pre.src-sh:before { 
    content: 'shell'; 
}
pre.src-sql:before { 
    content: 'SQL'; 
}
pre.src-sqlite:before { 
    content: 'SQLite'; 
}
/* additional languages in org.el's org-babel-load-languages alist */
pre.src-forth:before { 
    content: 'Forth'; 
}
pre.src-io:before { 
    content: 'IO'; 
}
pre.src-J:before { 
    content: 'J'; 
}
pre.src-makefile:before { 
    content: 'Makefile'; 
}
pre.src-maxima:before { 
    content: 'Maxima'; 
}
pre.src-perl:before { 
    content: 'Perl'; 
}
pre.src-picolisp:before { 
    content: 'Pico Lisp'; 
}
pre.src-scala:before { 
    content: 'Scala'; 
}
pre.src-shell:before { 
    content: 'Shell Script'; 
}
pre.src-ebnf2ps:before { 
    content: 'ebfn2ps'; 
}
/* additional language identifiers per "defun org-babel-execute"
     in ob-*.el */
pre.src-cpp:before  { 
    content: 'C++'; 
}
pre.src-abc:before  { 
    content: 'ABC'; 
}
pre.src-coq:before  { 
    content: 'Coq'; 
}
pre.src-groovy:before  { 
    content: 'Groovy'; 
}
/* additional language identifiers from org-babel-shell-names in
   ob-shell.el: ob-shell is the only babel language using a lambda to put
   the execution function name together. */
pre.src-bash:before  { 
    content: 'bash'; 
}
pre.src-csh:before  { 
    content: 'csh'; 
}
pre.src-ash:before  { 
    content: 'ash'; 
}
pre.src-dash:before  { 
    content: 'dash'; 
}
pre.src-ksh:before  { 
    content: 'ksh'; 
}
pre.src-mksh:before  { 
    content: 'mksh'; 
}
pre.src-posh:before  { 
    content: 'posh'; 
}
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { 
    content: 'Ada'; 
}
pre.src-asm:before { 
    content: 'Assembler'; 
}
pre.src-caml:before { 
    content: 'Caml'; 
}
pre.src-delphi:before { 
    content: 'Delphi'; 
}
pre.src-html:before { 
    content: 'HTML'; 
}
pre.src-idl:before { 
    content: 'IDL'; 
}
pre.src-mercury:before { 
    content: 'Mercury'; 
}
pre.src-metapost:before { 
    content: 'MetaPost'; 
}
pre.src-modula-2:before { 
    content: 'Modula-2'; 
}
pre.src-pascal:before { 
    content: 'Pascal'; 
}
pre.src-ps:before { 
    content: 'PostScript'; 
}
pre.src-prolog:before { 
    content: 'Prolog'; 
}
pre.src-simula:before { 
    content: 'Simula'; 
}
pre.src-tcl:before { 
    content: 'tcl'; 
}
pre.src-tex:before { 
    content: 'TeX'; 
}
pre.src-plain-tex:before { 
    content: 'Plain TeX'; 
}
pre.src-verilog:before { 
    content: 'Verilog'; 
}
pre.src-vhdl:before { 
    content: 'VHDL'; 
}
pre.src-xml:before { 
    content: 'XML'; 
}
pre.src-nxml:before { 
    content: 'XML'; 
}
/* add a generic configuration mode; LaTeX export needs an additional
   (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
pre.src-conf:before { 
    content: 'Configuration File'; 
}

table { 
    border-collapse:collapse; 
}
caption.t-above { 
    caption-side: top; 
}
caption.t-bottom { 
    caption-side: bottom; 
}
td, th { 
    vertical-align:top;  
}
th.org-right  { 
    text-align: center;  
}
th.org-left   { 
    text-align: center;   
}
th.org-center { 
    text-align: center; 
}
td.org-right  { 
    text-align: right;  
}
td.org-left   { 
    text-align: left;   
}
td.org-center { 
    text-align: center; 
}
dt { 
    font-weight: bold; 
}
.footpara { 
    display: inline; 
}
.footdef  { 
    margin-bottom: 1em; 
}
.figure { 
    padding: 1em; 
}
.figure p { 
    text-align: center; 
}

.inlinetask {
  padding: 10px;
  border: 2px solid gray;
  margin: 10px;
  background: #ffffcc;
}
#org-div-home-and-up
 { text-align: right; font-size: 70%; white-space: nowrap; }
textarea { 
    overflow-x: auto; 
}
.linenr { 
    font-size: smaller
}
.code-highlighted { 
    background-color: #ffff00; 
}
.org-info-js_info-navigation { 
    border-style: none; 
}
#org-info-js_console-label { 
    font-size: 10px; 
    font-weight: bold;
    white-space: nowrap; 
}
.org-info-js_search-highlight { 
    background-color: #ffff00; 
    color:
	#000000; 
    font-weight: bold; 
}
.org-svg { 
    width: 90%; 
}
